#header {
  width: 100%;
  height: 80px;
  background-color: #081a1d;
}
#cont_left {
  float: left;
  width: 150px;
  height: 969px;
  background: #222a35;
}
#cont_center {
  height: 969px;
  background: #4472c4;
}
#container {
  display: block;
  width: 100%;
  height: 1049px;
  background-color: #081a1d;
}
#loginbox {
  box-sizing: border-box;
  width: 460px;
  padding-top: 200px;
  margin: 0 auto;
}
#loginimg {
  display: block;
  margin: 0 auto;
  width: 400px;
  height: 200px;
}
#id {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  color: inherit;
  font: inherit;
}
#password {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  color: inherit;
  font: inherit;
}
#idd {
  width: 100%;
  height: 2.875rem;
  padding: 0.5rem 2.5rem 0.5rem 0.875rem;
  border: 1px solid #d2d2d2;
  border-radius: 0.25rem;
}
#pw {
  width: 100%;
  height: 2.875rem;
  padding: 0.5rem 2.5rem 0.5rem 0.875rem;
  border: 1px solid #d2d2d2;
  border-radius: 0.25rem;
}
#button {
  display: block;
  margin: 0 auto;
}
